$base-class: introduction;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__container {
    margin-top: 15vh;
    font-family: 'Nunito Sans', -apple-system, system-ui, sans-serif;
  }
}
