$base-class: projects;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__container {
    font-family: 'eurostile', sans-serif;
    width: 1024px;
    margin: auto;
  }

  &__rows {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    width: 100%;
    margin: 16px 8px 16px 8px;
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    &__container {
      font-family: 'eurostile', sans-serif;
      width: 512px;
      margin: auto;
    }

    &__rows {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__box {
      width: 100%;
      margin: 8px;
    }
  }

  @media only screen and (max-width: 480px) {
    &__container {
      font-family: 'eurostile', sans-serif;
      width: calc(100% - 40px);
      margin: auto;
    }

    &__rows {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__box {
      width: 100%;
      margin: 8px;
    }
  }
}
